{% extends 'base.html.twig' %}

{% block title %}Сервіс{% endblock %}

{% block body %}
    <section style="background-color: #eee;">
        <div class="container py-5">

            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{{ path('app_index') }}">Домашня сторінка</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Профіль користувача</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ user.fio }}</h5>
                            <div class="d-flex justify-content-center mb-2" id="edit-button-container">
                                <a id="edit-profile-data" class="btn btn-warning">Редагувати</a>
                            </div>
                            <div class="d-flex justify-content-center mb-2" id="save-button-container" style="display: none!important;">
                                <a id="edit-profile-data-save" class="btn btn-warning">Зберігти</a>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="{{ path('app_logout') }}" class="btn btn-primary">Вийти з облікового запису</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 ">Прізвище Ім'я По батькові</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0 text-fio">{{ user.fio }}</p>
                                    <input type="text" id="input-fio" class="form-control" style="display: none">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Пошта</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0 text-email">{{ user.email }}</p>
                                    <input type="text" id="input-email" class="form-control" style="display: none">

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Номер телефону</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0 text-phonenumber">{{ user.phoneNumber }}</p>
                                    <input type="text" id="input-phonenumber" class="form-control" style="display: none">

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Пароль</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0 text-password">*********</p>
                                    <input type="text" id="input-password" class="form-control" style="display: none">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <p class="mb-4"><span class="text-primary font-italic me-1">Записи</span></p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Назва продукту</th>
                                    <th scope="col">Назва під продукту</th>
                                    <th scope="col">Назва моделі під продукту</th>
                                    <th scope="col">Ціна</th>
                                    <th scope="col">Дата запису</th>
                                    <th scope="col">Приблизні години очікування</th>
                                    <th scope="col">Дії</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <form action=" {{ path('delete_order') }}" method="post">
                                            <tr>
                                                <td>
                                                    <input name="order_id" value="{{ order.id }}" hidden="hidden" class="order_id">
                                                    <span class="product_span_item_product">{{ order.product.name }}</span>
                                                    <select class="form-select product_select_item_products" name="subProduct_id" style="display: none;">
                                                        <option value="" hidden="hidden">Оберіть</option>
                                                        {% for product in products %}
                                                                <option value="{{ product.id }}" {% if product.id  == order.product.id  %}selected{% endif %}>{{ product.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <span class="product_span_item_subproduct">{{ order.subproduct.name }}</span>
                                                    <select class="form-select product_select_subproducts" name="subProduct_id" style="display: none;">
                                                        <option value="" hidden="hidden">Оберіть</option>
                                                        {% for subProduct in subProducts %}
                                                            <option value="{{ subProduct.id }}" data-price="{{ subProduct.price }}" data-product="{{ subProduct.product.id }}" {% if order.subproduct.id == subProduct.id  %}selected{% endif %}>{{ subProduct.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <span class="product_span_item_modelsubproduct">{{ order.modelsubproduct.name }}</span>
                                                    <select class="form-select product_select_modelsubproducts" name="subProduct_id" style="display: none;">
                                                        {% for modelSubProduct in modelSubProducts %}
                                                            <option value="{{ modelSubProduct.id }}" data-subproductid="{{ modelSubProduct.subProduct.id }}" data-price="{{ modelSubProduct.price }}">{{ modelSubProduct.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <span class="product_span_price_item">{{ order.modelsubproduct.price }}</span>
                                                </td>
                                                <td>
                                                    <span class="product_span_item_date">{{ order.orderDate.format('Y-m-d H:i:s') }}</span>
                                                    <input class="product_item_date" name="order_date" type="datetime-local" style="display: none;">
                                                    <select class="form-select mb-4 mb-lg-0 time_date" style="display: none;">
                                                        <option selected hidden="hidden">Час запису</option>
                                                        <option value="08:00">08:00</option>
                                                        <option value="09:00">09:00</option>
                                                        <option value="10:00">10:00</option>
                                                        <option value="11:00">11:00</option>
                                                        <option value="12:00">12:00</option>
                                                        <option value="13:00">13:00</option>
                                                        <option value="14:00">14:00</option>
                                                        <option value="15:00">15:00</option>
                                                        <option value="16:00">16:00</option>
                                                        <option value="17:00">17:00</option>
                                                        <option value="18:00">18:00</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <span class="">{{ order.subproduct.execution }}</span>
                                                </td>
                                                <td><button class="btn btn-warning btn-edit-product">Редагувати</button></td>
                                                <td><button type="submit" class="btn btn-danger btn-delete-product">Скасовувати</button></td>
                                                <td><button class="btn btn-success btn-save-product" style="display: none;">Зберегти</button></td>
                                            </tr>
                                        </form>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <p class="mb-4"><span class="text-primary font-italic me-1">Відгуки</span></p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Заголовок</th>
                                    <th scope="col">Текст</th>
                                    <th scope="col">Дії</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for review in reviews %}
                                    <form method="post" action=" {{ path('delete_review') }}">
                                        <input name="review_id" value="{{ review.id }}" hidden="hidden">
                                        <tr>
                                            <td>{{ review.title}}</td>
                                            <td>{{ review.body }}</td>
                                            <td><button type="submit" class="btn btn-danger">Видалити</button></td>
                                        </tr>
                                    </form>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h2>Залишити відгук</h2>
                    <form method="post" action="{{ path('create_review') }}">
                        <div class="mb-3">
                            <label for="title" class="form-label">Заголовок</label>
                            <input type="text" class="form-control" name="title">
                        </div>
                        <div class="mb-3">
                            <label for="body" class="form-label">Текст</label>
                            <textarea class="form-control" name="body" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Залишити відгук</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>

        $(document).ready(function() {
            $('#edit-profile-data').click(function() {
                $('.text-fio, .text-email, .text-phonenumber, .text-password').hide();
                $('#input-fio, #input-email, #input-phonenumber, #input-password').show();
                $('#edit-profile-data').hide();
                $('#save-button-container').show();
            });

            $('#edit-profile-data-save').click(function() {
                var updatedData = {
                    fio: $('#input-fio').val(),
                    email: $('#input-email').val(),
                    phoneNumber: $('#input-phonenumber').val(),
                    password: $('#input-password').val()
                };

                $.ajax({
                    url: '/update-user', // URL для обработки запроса на сервере
                    method: 'POST',
                    data: updatedData,
                    success: function(response) {
                        location.reload();
                    },
                    error: function(error) {
                        alert('Помилка при збереженні даних');
                    }
                });
            });
        });


        function filterModelSubproducts($row) {
            $row.find('.product_select_modelsubproducts option').each(function() {
                const subProductId = $(this).data('subproductid');
                if (subProductId != $('.product_select_subproducts option:selected').val()) {
                    $(this).attr('hidden', 'hidden').attr('disabled', 'disabled').prop('selected', false);
                } else {
                    $(this).removeAttr('hidden').removeAttr('disabled').prop('selected', true);
                }
            });
        }


        $(document).ready(function() {


            $('.btn-edit-product').on('click', function(e) {
                e.preventDefault();
                const $row = $(this).closest('tr');

                $row.find('.product_span_item_product, .product_span_item_subproduct, .product_span_item_date, .product_span_item_modelsubproduct').hide();
                $row.find('.product_select_item_products, .product_select_subproducts, .product_item_date, .time_date').show();

                $row.find('.btn-edit-product, .btn-delete-product').hide();
                $row.find('.btn-save-product').show();

                $row.find('.product_select_modelsubproducts').show();

                $('.product_select_subproducts').change(function() {
                    filterModelSubproducts($row);
                });

            });


            $('.product_select_item_products').on('change', function() {
                const selectedProduct = $(this).val();
                const $subProductSelect = $(this).closest('tr').find('.product_select_subproducts');

                $subProductSelect.find('option').each(function() {
                    if ($(this).data('product') == selectedProduct || $(this).val() == '') {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            $('.product_select_modelsubproducts').on('mouseover', function() {
                const selectedPrice = $(this).find('option:selected').data('price');
                console.log(selectedPrice);
                $(this).closest('tr').find('.product_span_price_item').text(selectedPrice);
            });

            $('.btn-save-product').on('click', function(e) {
                e.preventDefault();
                const $row = $(this).closest('tr');

                const orderId = $row.find('.order_id').val();
                const productId = $row.find('.product_select_item_products').val();
                const subProductId = $row.find('.product_select_subproducts').val();
                const modelSubProductId = $row.find('.product_select_modelsubproducts').val();
                const orderDate = $row.find('.product_item_date').val();
                const orderTime = $row.find('.time_date').val();

                $.ajax({
                    url: '/update-order',
                    method: 'POST',
                    data: {
                        orderId: orderId,
                        productId: productId,
                        subProductId: subProductId,
                        modelSubProductId: modelSubProductId,
                        orderDate: orderDate,
                        orderTime: orderTime
                    },
                    success: function(response) {
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert('Ошибка обновления заказа');
                    }
                });
            });

            flatpickr.localize(flatpickr.l10ns.ru);
            flatpickr(".product_item_date", {
                enableTime: false,
                dateFormat: "Y-m-d",
                time_24hr: true,
                minuteIncrement: 10,
                minDate: 'today',
                "locale": {
                    "firstDayOfWeek": 1,
                },
                disable: [
                    function(date) {
                        return (date.getDay() === 0 || date.getDay() === 6);
                    }
                ],
            });

            $('.product_item_date').change(function() {
                var selectedDate = $(this).val();
                $.ajax({
                    url: '/get-time-slots',
                    type: 'GET',
                    success: function(data) {
                        updateAvailableTimes(data, selectedDate);
                    }
                });
            });

            function updateAvailableTimes(data, selectedDate) {
                var occupiedSlots = data[selectedDate] || [];
                var availableTimes = [
                    "08:00", "09:00", "10:00", "11:00", "12:00",
                    "13:00", "14:00", "15:00", "16:00", "17:00", "18:00"
                ];

                // Функция для проверки занятости временного интервала
                function isOccupied(time) {
                    for (var i = 0; i < occupiedSlots.length; i++) {
                        var start = occupiedSlots[i].start;
                        var end = occupiedSlots[i].end;
                        if (time >= start && time < end) {
                            return true;
                        }
                    }
                    return false;
                }

                // Очищаем селект и добавляем доступные временные интервалы
                var $timeSelect = $('.time_date');
                $timeSelect.empty();
                $timeSelect.append('<option selected hidden="hidden">Час запису</option>');
                availableTimes.forEach(function(time) {
                    if (!isOccupied(time)) {
                        $timeSelect.append('<option value="' + time + '">' + time + '</option>');
                    }
                });
            }
        });

    </script>
{% endblock %}