<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

            <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/toastr.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
            <script src="{{ asset('js/OwlCarousel/dist/owl.carousel.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('js/OwlCarousel/dist/assets/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('js/OwlCarousel/dist/assets/owl.theme.default.min.css') }}">
            <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
            <link rel="stylesheet" href=" {{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href=" {{ asset('js/toastr.min.css') }}">
            <link rel="stylesheet" href=" {{ asset('style.css') }}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <style>
        .testimonial-slider .carousel-indicators button {
            width: 10px;
            height: 10px;
            background-color: #474747;
            border-radius: 100%;
        }
        .testimonial-slider {
            padding: 10px 0px 40px;
        }

        .card .card-logo {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }

        .card-img-wrapper img{
            display: block;
            width: 50px;
            height: 50px;
            object-fit: contain;
            border-radius: 100%;
        }

        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(150,150,150,1) 50%);

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(150,150,150,1) 50%);
        }
    </style>
    <body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
        {% block body %}

        {% endblock %}
    </body>
</html>
